body{
    background-color: darkslategrey;
    font-family: 'Pushster', cursive;
}

.nav{
    width:auto;
    height:auto;
    background-color: lightblue;
    margin-top:-10px;
}
.nav ul li{
    list-style: square;
    display:inline-block;
    position:relative;
    
    }
    .nav ul li a{
    display:block;
    padding:20px 35px;
    font-size:30px;
    font-weight: bold;
    color: white;
    text-transform:uppercase;
    text-decoration: none;
    }
    .nav ul li a:hover
    {
    color:blue;
    background:steelblue;
    
    
    }
    .nav ul li ul{
    
    position:absolute;
    background: pink;
    left:-9999px;
    
    }
    .nav ul li:hover ul{
    left:0px;
    
    } 
    .nav ul li ul li{
        width:200px;
        border-bottom:1px solid green;
        border-radius: 10px;
    }
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
p{
    text-align: center;
    font-size: 30px ;
    color: ghostwhite;

}

}
.container{
background-color: white;
height: 100vh;
width: 100vh;
display: flex;   
align-items: center; 
}
.hexagon{
    height: 0;
    width: 150px;
    border-top: 150px solid white;
    border-right: 100px solid transparent;
    border-left:100px solid transparent;
    position: absolute;
    margin: 150px;
}
.hexagon:before{
  position: absolute; 
  content: '';
  height: 0;
  width: 150px;
  border-bottom: 150px solid white;
  border-right: 100px solid transparent;
  border-left: 100px solid transparent;
  bottom: 150px;
  left: -100px;

}